header(class="bg-yellow-900 text-white p-4")
            .container.mx-auto.flex.justify-between.items-center
                a(href="/inicio1/index1") 
                    h1.text-2xl.font-extrabold.text-center Donde 
                        span.font-normal Tipo
                nav(class="my-5 md:flex md:items-center md:gap-3 font-bold text-center")
                    a(href="/auth/registros" class="hover:text-yellow-500") Crear Cuenta
                    a(href="/auth/login" class="hover:text-yellow-500") Iniciar sesión
                    
div(class=" py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center")
            a(href="/categorias/1" class="text-3xl font-bold uppercase text-yellow-800 hover:text-yellow-600") Comida Rapida
            a(href="/categorias/2" class="text-3xl font-bold uppercase text-yellow-800 hover:text-yellow-600") Bebida
            a(href="/" class="text-3xl font-bold uppercase text-yellow-800 hover:text-yellow-600") Todo

        form(action="/buscador" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="text" id="termino" name="termino" placeholder="Buscar Productos" class="p-2 rounded-lg shadow")
            input(type="submit" class="bg-yellow-800 hover:bg-yellow-950 rounded-lg text-white uppercase font-bold p-2 cursor-pointer" value="Buscar")
